aiofiles==0.8.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aiosignal==1.2.0
aiosqlite==0.17.0
alembic==1.7.7
anyio==3.5.0
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asgi-lifespan==1.0.1
asgiref==3.5.1
astroid==2.4.2
asttokens==2.0.5
async-timeout==4.0.2
asyncpg==0.25.0
attrs==19.3.0
azure-core==1.24.0
azure-storage-blob==12.11.0
backcall==0.2.0
beautifulsoup4==4.8.2
blessed==1.19.1
blinker==1.4
boto3==1.22.9
botocore==1.25.9
Brlapi==0.7.0
cached-property==1.5.1
cachetools==5.0.0
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.3
colorful==0.5.4
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
coolname==1.1.0
croniter==1.3.4
crudini==0.9.3
cryptography==37.0.2
cupshelpers==1.0
cycler==0.10.0
dash-bootstrap-components==0.10.7
dask==2022.5.0
dbus-python==1.2.16
debugpy==1.6.0
decorator==4.4.2
defer==1.0.6
distlib==0.3.0
distributed==2022.5.0
distro==1.4.0
distro-info==0.23+ubuntu1.1
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
executing==0.8.3
fastapi==0.76.0
filelock==3.0.12
flake8==3.8.4
frozenlist==1.3.0
fsspec==2022.3.0
google-api-core==2.7.3
google-auth==2.6.6
google-cloud-core==2.3.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
gpustat==1.0.0b1
greenlet==1.1.2
grpcio==1.43.0
h11==0.13.0
HeapDict==1.0.1
html5lib==1.0.1
httpcore==0.14.7
httplib2==0.14.0
httpx==0.22.0
idna==2.8
ifaddr==0.1.6
IMDbPY==6.8
importlib-metadata==1.5.0
importlib-resources==5.7.1
iniparse==0.4
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
isodate==0.6.1
isort==5.6.4
jedi==0.17.2
Jinja2==3.1.2
jmespath==1.0.0
jsonschema==3.2.0
jupyter-client==7.3.0
jupyter-core==4.10.0
keyring==18.0.1
kiwisolver==1.0.1
kubernetes==23.6.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
locket==1.0.0
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.1.1
matplotlib==3.1.2
matplotlib-inline==0.1.3
mccabe==0.6.1
more-itertools==4.2.0
msgpack==1.0.3
msrest==0.6.21
multidict==6.0.2
nemo-emblems==5.2.0
nest-asyncio==1.5.5
netaddr==0.7.19
netifaces==0.10.4
nose==1.3.7
numpy==1.17.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
onboard==1.4.1
opencensus==0.9.0
opencensus-context==0.1.2
packaging==20.3
PAM==0.4.2
parso==0.7.1
partd==1.2.0
pbr==5.5.1
pendulum==2.1.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
plotly-express==0.4.1
prefect==2.0b3
prometheus-client==0.13.1
prompt-toolkit==3.0.8
protobuf==3.20.1
psutil==5.5.1
pure-eval==0.2.2
py-spy==0.3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.9.0
pyflakes==2.2.0
Pygments==2.7.2
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyparted==3.11.2
pyRFC3339==1.1
pyrsistent==0.15.5
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-debian==0.1.36+ubuntu1.1
python-magic==0.4.16
python-slugify==6.1.2
python-xapp==2.2.1
python-xlib==0.23
pytz==2022.1
pytzdata==2020.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.3.0
ray==1.12.0
readchar==3.0.5
reportlab==3.5.34
requests==2.22.0
requests-file==1.4.3
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
rich==12.4.0
rsa==4.8
s3transfer==0.5.2
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
sessioninstaller==0.0.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
smart-open==6.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==1.9.5
SQLAlchemy==1.4.36
stack-data==0.2.0
starlette==0.18.0
stevedore==3.2.2
system-service==0.3
systemd-python==234
tblib==1.7.0
text-unidecode==1.3
texttable==1.6.2
tinycss2==1.0.2
tldextract==2.2.1
toml==0.10.1
toolz==0.11.2
tornado==6.1
traitlets==5.1.1
typer==0.4.1
typing_extensions==4.2.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
urllib3==1.25.8
uvicorn==0.17.6
virtualenv==20.0.17
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.53.0
wrapt==1.12.1
xkit==0.0.0
xlrd==1.1.0
yarl==1.7.2
youtube-dl==2021.4.26
zict==2.2.0
zipp==3.8.0
